@model IEnumerable<DropDownsAnidadosMVC.Models.Sucursal>

@{
    ViewData["Title"] = "Lista Sucursales";
}

<h1>Lista Sucursales</h1>

<p>
    <a asp-action="Create">Crear Nueva Sucursal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
